<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a id="brand" class="navbar-brand" href="">Administration</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/">Auto bezitters</a></li>
                <li><a routerLink="/rateregions">Tarief regio's</a></li>
                <li><a routerLink="/register">Registreer</a></li>
                <li><a routerLink="/login">Login / Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
