<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <label>Eigenaar:</label>
      <select #userselect (change)="onChange(userselect.value)" class="form-control">
        <option *ngFor="let owner of owners" [value]="owner.id">{{owner.name}}</option>
  	  </select>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>License Plate</th>
            <th>Energie Label</th>
            <th>Gestolen</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let car of cars; let i = index;">
            <td>{{i+1}}</td>
            <td>{{car?.licensePlate.license}}</td>
            <td>{{car?.energyLabel}}</td>
            <td>{{car?.stolen == true ? 'Ja' : 'Nee' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>