.rate-regions {
    max-height: 840px;
    overflow-y: scroll;
}

.rate-region-header {
    margin: 20px 0px 10px 0px;
}

.rate-region-header h3 {
    display: inline-block;
    margin: 0px;
}

.rate-region-header span {
    margin-top: 0.55em;
}

.rate-region .form-control {
    display: inline-block;
}

.rate-region , .rate-region .form-group {
    margin-bottom: 5px;
}

.sebm-google-map-container {
    height: 500px
}

.sebm-google-map-container-inner {
    width: unset !important;
}